<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Spot_Warn</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>s_register</display-name>
    <servlet-name>s_register</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.s_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s_register</servlet-name>
    <url-pattern>/s_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s_login</display-name>
    <servlet-name>s_login</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.s_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s_login</servlet-name>
    <url-pattern>/s_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a_register</display-name>
    <servlet-name>a_register</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.a_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_register</servlet-name>
    <url-pattern>/a_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a_login</display-name>
    <servlet-name>a_login</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.a_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_login</servlet-name>
    <url-pattern>/a_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>U_Loginn</display-name>
    <servlet-name>U_Loginn</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.U_Loginn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U_Loginn</servlet-name>
    <url-pattern>/U_Loginn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>U_Register</display-name>
    <servlet-name>U_Register</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.U_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U_Register</servlet-name>
    <url-pattern>/U_Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_addblackspot</display-name>
    <servlet-name>P_addblackspot</servlet-name>
    <servlet-class>com.Anjali.SpotWarn.P_addblackspot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_addblackspot</servlet-name>
    <url-pattern>/P_addblackspot</url-pattern>
  </servlet-mapping>

   
</web-app>